<!DOCTYPE html>
<html lang="en">
    <head><% include ./partials/head.ejs %></head>
    <body>

        <% include ./partials/navbar.ejs %>
            <main class="container">
                <header class="jumbotron my-4">
                    <% include ../static/partials/messages.ejs %>
                    <h1 class="display-3">Cocktail App</h1>
                    <p class="lead">An application for users to share information.</p>
                    <a href="/users/register" class="btn btn-secondary btn-lg">Register</a>
                    <a href="/users/sign_in" class="btn btn-secondary btn-lg">Sign in</a>
                </header>
                <section class="row text-center">
                    <section class="col-lg-4">
                        <h4 class="card-title">Hundreds of recipes to choose from</h4>
                        <p class="card-text">lorem ipsum</p>
                    </section>

                    <section class="col-lg-4">
                        <h4 class="card-title">Create your own lists</h4>
                        <p class="card-text">lorem ipsum</p>
                    </section>
                </section>

      </main>

      <% include ./partials/baseScripts.ejs%>
    </body>
</html>